<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

    <title>Добавление товара</title>
</head>
<body>
<div class="container py-5 mt-2">
    <header>
        <div class="d-flex flex-column flex-md-row align-items-center pb-3 mb-4 border-bottom">
            <a href="/" class="d-flex align-items-center text-decoration-none">
                <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="black" class="bi bi-bag" viewBox="0 0 16 16">
                    <path d="M8 1a2.5 2.5 0 0 1 2.5 2.5V4h-5v-.5A2.5 2.5 0 0 1 8 1m3.5 3v-.5a3.5 3.5 0 1 0-7 0V4H1v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V4zM2 5h12v9a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1z"/>
                </svg>
                <span class="fs-4 ms-2" style="color: black;"><b>la_men</b></span>
            </a>
            <nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto">
                <a class="me-3 py-2 text-decoration-none" href="/profile" style="color: black;" th:if="${user == 1}">Профиль</a>
                <a class="me-3 py-2 text-decoration-none" href="/login" style="color: black;" th:if="${user == 0}">Войти</a>
                <a class="me-3 py-2 text-decoration-none" href="#" style="color: black;">Поддержка</a>
                <a class="py-2 text-decoration-none" href="#" style="color: black;">О нас</a>
            </nav>
        </div>
    </header>
</div>

<div class="container mt-5">
    <h1>Добавление товара</h1>
    <form action="/add/product" method="POST" enctype="multipart/form-data">
        <div class="form-group mt-2">
            <label for="image">Картинка товара:</label>
            <input type="file" class="form-control" id="image" name="image">
        </div>
        <div class="form-group mt-2">
            <label for="name">Имя:</label>
            <input type="text" class="form-control" id="name" name="name" required>
        </div>
        <div class="form-group mt-2">
            <label for="description">Описание:</label>
            <textarea class="form-control" id="description" name="description" required></textarea>
        </div>
        <div class="form-group mt-2">
            <label for="price">Цена:</label>
            <input type="number" class="form-control" id="price" name="price" required step="0.01" min="0">
        </div>
        <div class="form-group mt-2">
            <label for="composition">Состав:</label>
            <textarea class="form-control" id="composition" name="composition" required></textarea>
        </div>
        <div class="form-group mt-2">
            <label for="category">Категория:</label>
            <select class="form-control" id="category" name="category" required onchange="updateSubCategories(this)">
                <option value="">Выберите категорию...</option>
                <option value="category1">Новинки</option>
                <option value="category2">Одежда</option>
                <option value="category3">Обувь</option>
                <option value="category4">Аксессуары</option>
            </select>
        </div>
        <div class="form-group mt-2">
            <label for="sub_category">Подкатегория:</label>
            <select class="form-control" id="sub_category" name="sub_category" required>
                <option value="">Выберите подкатегорию...</option>
            </select>
        </div>
        <button type="submit" class="btn btn-primary mt-3">Добавить товар</button>
    </form>

    <div class="mt-5">
        <h2 class="mb-4">Добавление товаров в "С чем носить":</h2>
        <form action="/import" method="post" enctype="multipart/form-data">
            <input type="file" name="file" multiple>
            <br>
            <input type="submit" class="btn btn-primary mt-3" value="Загрузить JSON файл">
        </form>
        <div th:if="${message_success}" class="badge text-bg-success rounded-pill mt-3" style="font-size: 18px;">
            [[${message_success}]]
        </div>
        <div th:if="${message_error}" class="badge text-bg-danger rounded-pill mt-3" style="font-size: 18px;">
            [[${message_error}]]
        </div>
    </div>
</div>

<footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
    <div class="col-md-4 d-flex align-items-center" style="margin-left: 20px;">
        <span class="mb-3 mb-md-0 text-body-secondary">© 2023 la_men, Inc</span>
    </div>
</footer>

<script>
    function updateSubCategories(categorySelect) {
        const subCategorySelect = document.getElementById("sub_category");
        subCategorySelect.innerHTML = ""; // Очищаем список подкатегорий

        const options = {
            category1: ["Одежда", "Обувь", "Аксессуары"],
            category2: [
                "Брюки", "Верхняя одежда", "Джемперы, свитеры и кардиганы",
                "Джинсы", "Домашняя одежда", "Майки", "Нижнее белье",
                "Носки и гетры", "Пиджаки и костюмы", "Рубашки",
                "Спортивные костюмы", "Футболки и поло", "Худи и свитшоты", "Шорты"
            ],
            category3: [
                "Ботинки", "Домашняя обувь", "Кроссовки и кеды",
                "Мокасины и топсайдеры", "Резиновая обувь", "Сандалии", "Сапоги", "Туфли"
            ],
            category4: [
                "Галстуки и запонки", "Головные уборы", "Зонты",
                "Кошельки и визитницы", "Очки", "Перчатки и варежки",
                "Ремни и подтяжки", "Рюкзаки", "Сумки"
            ]
        };

        const selectedCategory = categorySelect.value;
        if (options[selectedCategory]) {
            options[selectedCategory].forEach(text => {
                const option = document.createElement("option");
                option.value = text;
                option.text = text;
                subCategorySelect.add(option);
            });
        }
    }
</script>

</body>
</html>