<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html" lang="">
<head>
    <title th:text="${subCatalogName}"></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/js/bootstrap.bundle.min.js" integrity="sha512-0wnxKb0Y+2/5XK87EhV7VzGkX8B8q9ZTlz0jHk9q3Y4ajI+5Dv3mtRqfOnPnSdEJv6sK6S9jX9bcQ3b5Fy9eKQ==" crossorigin="anonymous"></script>
    <style>
        ul.list-unstyled {
        margin: 3px;
        padding: 3px;
        }
        ul.list-unstyled li{
        display: inline;
        margin-right: 3px;
        padding: 5px;
        }
    </style>
</head>
<body>
<div class = "container py = 5 mt-2">
    <header>
        <div class="d-flex flex-column flex-md-row align-items-center pb-3 mb-4 border-bottom">
            <a href="/" class="d-flex align-items-center link-body-emphasis text-decoration-none">
                <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="black" class="bi bi-bag" viewBox="0 0 16 16">
                    <path d="M8 1a2.5 2.5 0 0 1 2.5 2.5V4h-5v-.5A2.5 2.5 0 0 1 8 1m3.5 3v-.5a3.5 3.5 0 1 0-7 0V4H1v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V4zM2 5h12v9a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1z"/>
                </svg>
                <span class="fs-4 ms-2" style="color: black" ><ya-tr-span data-index="1-0" data-translated="false" data-source-lang="en" data-target-lang="ru" data-value="Pricing example" data-translation="Пример ценообразования" data-ch="0" data-type="trSpan"><b>la_men</b></ya-tr-span></span>
            </a>
            <nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto">
                <a class="me-3 py-2 link-body-emphasis text-decoration-none" href="/profile" style="color: black" th:if="${user == 1}"><ya-tr-span data-index="2-0" data-translated="false" data-source-lang="en" data-target-lang="ru" data-value="Profile" data-ch="0" data-type="trSpan">Профиль</ya-tr-span></a>
                <a class="me-3 py-2 link-body-emphasis text-decoration-none" href="/login" style="color: black" th:if="${user == 0}"><ya-tr-span data-index="5-0" data-translated="false" data-source-lang="en" data-target-lang="ru" data-value="Profile" data-ch="0" data-type="trSpan">Войти</ya-tr-span></a>
                <a class="me-3 py-2 link-body-emphasis text-decoration-none" href="#" style="color: black"><ya-tr-span data-index="3-0" data-translated="false" data-source-lang="en" data-target-lang="ru" data-value="Support" data-ch="0" data-type="trSpan">Поддержка</ya-tr-span></a>
                <a class="py-2 link-body-emphasis text-decoration-none" href="#" style="color: black"><ya-tr-span data-index="4-0" data-translated="false" data-source-lang="en" data-target-lang="ru" data-value="About" data-ch="0" data-type="trSpan">О нас</ya-tr-span></a>
            </nav>
        </div>
    </header>
</div>
<nav class="navbar navbar-expand navbar-dark bg-dark">
    <div class="container-fluid">
        <div class="collapse navbar-collapse" id="navbarsExample02">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <h5 class="mt-1">
                        <a href="/feedbackModeration" th:if="${admin==1}" class="btn btn-primary">Модерация отзывов</a>
                        <a href="/addProduct" th:if="${admin==1}" class="btn btn-primary">Добавить товар</a>
                        <a href="/basket" class="text-decoration-none" th:if="${user == 1  && admin != 1}"><ya-tr-span style="color: white" data-index="27-0" data-translated="true" data-source-lang="en" data-target-lang="ru" data-value=" Example link text " data-translation="" data-ch="0" data-type="trSpan" data-selected="false"> Корзина  </ya-tr-span>
                            <svg xmlns="http://www.w3.org/2000/svg" style="color: white" width="20" height="20" fill="currentColor" class="bi bi-basket" viewBox="0 0 16 16">
                                <path d="M5.757 1.071a.5.5 0 0 1 .172.686L3.383 6h9.234L10.07 1.757a.5.5 0 1 1 .858-.514L13.783 6H15a1 1 0 0 1 1 1v1a1 1 0 0 1-1 1v4.5a2.5 2.5 0 0 1-2.5 2.5h-9A2.5 2.5 0 0 1 1 13.5V9a1 1 0 0 1-1-1V7a1 1 0 0 1 1-1h1.217L5.07 1.243a.5.5 0 0 1 .686-.172zM2 9v4.5A1.5 1.5 0 0 0 3.5 15h9a1.5 1.5 0 0 0 1.5-1.5V9H2zM1 7v1h14V7H1zm3 3a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-1 0v-3A.5.5 0 0 1 4 10zm2 0a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-1 0v-3A.5.5 0 0 1 6 10zm2 0a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-1 0v-3A.5.5 0 0 1 8 10zm2 0a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-1 0v-3a.5.5 0 0 1 .5-.5zm2 0a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-1 0v-3a.5.5 0 0 1 .5-.5z"></path>
                            </svg>
                            <span id="cart-marker" style="display: none; font-size: 0.8em; vertical-align: super; color: white;"></span>
                        </a>
                        <a href="/basket" class="text-decoration-none" data-bs-toggle="modal" data-bs-target="#modalChoice"  th:if="${user == 0  && admin != 1}"><ya-tr-span style="color: white" data-index="27-0" data-translated="true" data-source-lang="en" data-target-lang="ru" data-value=" Example link text " data-translation="" data-ch="0" data-type="trSpan" data-selected="false"> Корзина  </ya-tr-span>
                            <svg xmlns="http://www.w3.org/2000/svg" style="color: white" width="20" height="20" fill="currentColor" class="bi bi-basket" viewBox="0 0 16 16">
                                <path d="M5.757 1.071a.5.5 0 0 1 .172.686L3.383 6h9.234L10.07 1.757a.5.5 0 1 1 .858-.514L13.783 6H15a1 1 0 0 1 1 1v1a1 1 0 0 1-1 1v4.5a2.5 2.5 0 0 1-2.5 2.5h-9A2.5 2.5 0 0 1 1 13.5V9a1 1 0 0 1-1-1V7a1 1 0 0 1 1-1h1.217L5.07 1.243a.5.5 0 0 1 .686-.172zM2 9v4.5A1.5 1.5 0 0 0 3.5 15h9a1.5 1.5 0 0 0 1.5-1.5V9H2zM1 7v1h14V7H1zm3 3a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-1 0v-3A.5.5 0 0 1 4 10zm2 0a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-1 0v-3A.5.5 0 0 1 6 10zm2 0a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-1 0v-3A.5.5 0 0 1 8 10zm2 0a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-1 0v-3a.5.5 0 0 1 .5-.5zm2 0a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-1 0v-3a.5.5 0 0 1 .5-.5z"></path>
                            </svg>
                        </a>
                    </h5>
                </li>
                <li style="color: white" class="ms-5 mt-1">
                    Сортировка по цене:
                </li>
                <li class="nav-item ms-3 mt-1">
                    <a th:href="'/home/' + ${id} + '/esc'" class="text-decoration-none">
                        <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="white" class="bi bi-sort-down-alt" viewBox="0 0 16 16">
                            <path d="M3.5 3.5a.5.5 0 0 0-1 0v8.793l-1.146-1.147a.5.5 0 0 0-.708.708l2 1.999.007.007a.497.497 0 0 0 .7-.006l2-2a.5.5 0 0 0-.707-.708L3.5 12.293zm4 .5a.5.5 0 0 1 0-1h1a.5.5 0 0 1 0 1zm0 3a.5.5 0 0 1 0-1h3a.5.5 0 0 1 0 1zm0 3a.5.5 0 0 1 0-1h5a.5.5 0 0 1 0 1zM7 12.5a.5.5 0 0 0 .5.5h7a.5.5 0 0 0 0-1h-7a.5.5 0 0 0-.5.5"/>
                        </svg>
                    </a>
                </li>
                <li class="nav-item ms-1 mt-1">
                    <a th:href="'/home/' + ${id} + '/desc'" class="text-decoration-none">
                        <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="white" class="bi bi-sort-down" viewBox="0 0 16 16">
                            <path d="M3.5 2.5a.5.5 0 0 0-1 0v8.793l-1.146-1.147a.5.5 0 0 0-.708.708l2 1.999.007.007a.497.497 0 0 0 .7-.006l2-2a.5.5 0 0 0-.707-.708L3.5 11.293zm3.5 1a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5M7.5 6a.5.5 0 0 0 0 1h5a.5.5 0 0 0 0-1zm0 3a.5.5 0 0 0 0 1h3a.5.5 0 0 0 0-1zm0 3a.5.5 0 0 0 0 1h1a.5.5 0 0 0 0-1z"></path>
                        </svg>
                    </a>
                </li>
                <li>
                    <button type="button" class="btn btn-dark ms-5" data-bs-toggle="modal" data-bs-target="#filterModal">
                        Фильтр
                    </button>
                </li>
            </ul>
            <form action="/home/search" method="post" role="search">
                <input name="query" class="form-control" type="text" placeholder="Поиск" aria-label="Поиск">
            </form>
        </div>
    </div>
</nav>
<div>
    <nav aria-label="панировочные сухари">
        <ol class="breadcrumb p-3 bg-body-tertiary rounded-3">
            <li class="breadcrumb-item">
                <a class="link-body-emphasis" href="/">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-house" viewBox="0 0 16 16">
                        <path d="M8.707 1.5a1 1 0 0 0-1.414 0L.646 8.146a.5.5 0 0 0 .708.708L2 8.207V13.5A1.5 1.5 0 0 0 3.5 15h9a1.5 1.5 0 0 0 1.5-1.5V8.207l.646.647a.5.5 0 0 0 .708-.708L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293zM13 7.207V13.5a.5.5 0 0 1-.5.5h-9a.5.5 0 0 1-.5-.5V7.207l5-5z"/>
                    </svg>
                    <span class="visually-hidden">Главная</span>
                </a>
            </li>
            <li class="breadcrumb-item">
                <a class="link-body-emphasis fw-semibold text-decoration-none" th:href="'/home/' + ${id}">[[${subCatalogName}]]</a>
            </li>
        </ol>
    </nav>
</div>
<div class="flex-shrink-0 p-3">
    <ul class="list-unstyled ps-0">
        <li class="mb-1">
            <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0" data-bs-toggle="collapse" data-bs-target="#home-collapse" aria-expanded="true"><ya-tr-span data-index="18-0" data-translated="true" data-source-lang="en" data-target-lang="ru" data-value=" Home " data-translation=" Главная " data-ch="1" data-type="trSpan" data-selected="false">  Новинки  </ya-tr-span></button>
            <div class="collapse show" id="home-collapse" style="">
                <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                    <li><a href="/home/1" class="link-body-emphasis d-inline-flex text-decoration-none rounded"><ya-tr-span data-index="19-0" data-translated="true" data-source-lang="en" data-target-lang="ru" data-ch="0" data-type="trSpan">Одежда</ya-tr-span></a></li>
                    <li><a href="/home/2" class="link-body-emphasis d-inline-flex text-decoration-none rounded"><ya-tr-span data-index="20-0" data-translated="true" data-source-lang="en" data-target-lang="ru"  data-ch="0" data-type="trSpan">Обувь</ya-tr-span></a></li>
                    <li><a href="/home/3" class="link-body-emphasis d-inline-flex text-decoration-none rounded"><ya-tr-span data-index="21-0" data-translated="true" data-source-lang="en" data-target-lang="ru"  data-ch="0" data-type="trSpan" data-selected="false">Аксессуары</ya-tr-span></a></li>
                </ul>
            </div>
        </li>
        <li class="mb-1" >
            <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0" data-bs-toggle="collapse" data-bs-target="#dashboard-collapse" aria-expanded="true"><ya-tr-span data-index="22-0" data-translated="true" data-source-lang="en" data-target-lang="ru" data-value=" Dashboard " data-translation=" Информационная панель " data-ch="1" data-type="trSpan" data-selected="false">  Одежда  </ya-tr-span></button>
            <div class="collapse show" id="dashboard-collapse" style="">
                <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                    <li><a href="/home/4" class="link-body-emphasis d-inline-flex text-decoration-none rounded">Брюки</a></li>
                    <li><a href="/home/5" class="link-body-emphasis d-inline-flex text-decoration-none rounded">Верхняя одежда</a></li>
                    <li><a href="/home/6" class="link-body-emphasis d-inline-flex text-decoration-none rounded">Джемперы, свитеры и кардиганы</a></li>
                    <li><a href="/home/7" class="link-body-emphasis d-inline-flex text-decoration-none rounded">Джинсы</a></li>
                    <li><a href="/home/8" class="link-body-emphasis d-inline-flex text-decoration-none rounded">Домашняя одежда</a></li>
                    <li><a href="/home/9" class="link-body-emphasis d-inline-flex text-decoration-none rounded">Майки</a></li>
                    <li><a href="/home/10" class="link-body-emphasis d-inline-flex text-decoration-none rounded">Нижнее белье</a></li>
                    <li><a href="/home/11" class="link-body-emphasis d-inline-flex text-decoration-none rounded">Носки и гетры</a></li>
                    <li><a href="/home/12" class="link-body-emphasis d-inline-flex text-decoration-none rounded">Пиджаки и костюмы</a></li>
                    <li><a href="/home/13" class="link-body-emphasis d-inline-flex text-decoration-none rounded">Рубашки</a></li>
                    <li><a href="/home/14" class="link-body-emphasis d-inline-flex text-decoration-none rounded">Спортивные костюмы</a></li>
                    <li><a href="/home/15" class="link-body-emphasis d-inline-flex text-decoration-none rounded">Футболки и поло</a></li>
                    <li><a href="/home/16" class="link-body-emphasis d-inline-flex text-decoration-none rounded">Худи и свитшоты</a></li>
                    <li><a href="/home/17" class="link-body-emphasis d-inline-flex text-decoration-none rounded">Шорты</a></li>
                </ul>
            </div>
        </li>
        <li class="mb-1" >
            <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0" data-bs-toggle="collapse" data-bs-target="#orders-collapse" aria-expanded="true"><ya-tr-span data-index="23-0" data-translated="true" data-source-lang="en" data-target-lang="ru" data-value=" Orders " data-translation=" Заказы " data-ch="1" data-type="trSpan">  Обувь  </ya-tr-span></button>
            <div class="collapse show" id="orders-collapse" style="">
                <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                    <li><a href="/home/18" class="link-body-emphasis d-inline-flex text-decoration-none rounded">Ботинки</a></li>
                    <li><a href="/home/19" class="link-body-emphasis d-inline-flex text-decoration-none rounded">Домашняя обувь</a></li>
                    <li><a href="/home/20" class="link-body-emphasis d-inline-flex text-decoration-none rounded">Кроссовки и кеды</a></li>
                    <li><a href="/home/21" class="link-body-emphasis d-inline-flex text-decoration-none rounded">Мокасины и топсайдеры</a></li>
                    <li><a href="/home/22" class="link-body-emphasis d-inline-flex text-decoration-none rounded">Резиновая обувь</a></li>
                    <li><a href="/home/23" class="link-body-emphasis d-inline-flex text-decoration-none rounded">Сандалии</a></li>
                    <li><a href="/home/24" class="link-body-emphasis d-inline-flex text-decoration-none rounded">Сапоги</a></li>
                    <li><a href="/home/25" class="link-body-emphasis d-inline-flex text-decoration-none rounded">Туфли</a></li>

                </ul>
            </div>
        </li>
        <li class="mb-1" >
            <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0" data-bs-toggle="collapse" data-bs-target="#hhh-collapse" aria-expanded="true"><ya-tr-span data-index="23-0" data-translated="true" data-source-lang="en" data-target-lang="ru" data-value=" Orders " data-translation=" Заказы " data-ch="1" data-type="trSpan"> Аксессуар  </ya-tr-span></button>
            <div class="collapse show" id="hhh-collapse" style="">
                <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                    <li><a href="/home/26" class="link-body-emphasis d-inline-flex text-decoration-none rounded">Галстуки и запонки</a></li>
                    <li><a href="/home/27" class="link-body-emphasis d-inline-flex text-decoration-none rounded">Головные уборы</a></li>
                    <li><a href="/home/28" class="link-body-emphasis d-inline-flex text-decoration-none rounded">Зонты</a></li>
                    <li><a href="/home/29" class="link-body-emphasis d-inline-flex text-decoration-none rounded">Кошельки и визитницы</a></li>
                    <li><a href="/home/30" class="link-body-emphasis d-inline-flex text-decoration-none rounded">Очки</a></li>
                    <li><a href="/home/31" class="link-body-emphasis d-inline-flex text-decoration-none rounded">Перчатки и варежки</a></li>
                    <li><a href="/home/32" class="link-body-emphasis d-inline-flex text-decoration-none rounded">Ремни и подтяжки</a></li>
                    <li><a href="/home/33" class="link-body-emphasis d-inline-flex text-decoration-none rounded">Рюкзаки</a></li>
                    <li><a href="/home/34" class="link-body-emphasis d-inline-flex text-decoration-none rounded">Сумки</a></li>
                </ul>
            </div>
        </li>
    </ul>
</div>
<div>
<div th:if="${sub.isEmpty()}" class="alert alert-secondary container py = 5 mt-3">
   Ни один товар не подходит
</div>
    <div class="container py-2">
        <div class="row">
            <div class="col-md-6">
                <div th:each="el, iterStat : ${sub}" class="card mb-2" th:if="${iterStat.index % 2 == 0}">
                    <img th:src="@{'data:image/png;base64,'+${el.generateBase64Image()}}" width="180" height="240" class="m-3" alt="Product Image">
                    <div class="card-body">
                        <h3 class="card-title" th:text="${el.name}"></h3>
                        <h4 class="card-subtitle" th:text="${el.price}"></h4>
                        <p class="card-text" th:text="${el.description}"></p>
                        <a th:href="'/home/' + ${el.id} + '/about'" class="btn btn-primary">Подробнее</a>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div th:each="el, iterStat : ${sub}" class="card mb-2" th:if="${iterStat.index % 2 != 0}">
                    <img th:src="@{'data:image/png;base64,'+${el.generateBase64Image()}}" width="180" height="240" class="m-3" alt="Product Image">
                    <div class="card-body">
                        <h3 class="card-title" th:text="${el.name}"></h3>
                        <h4 class="card-subtitle" th:text="${el.price}"></h4>
                        <p class="card-text" th:text="${el.description}"></p>
                        <a th:href="'/home/' + ${el.id} + '/about'" class="btn btn-primary">Подробнее</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="filterModal" tabindex="-1" aria-labelledby="filterModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="filterModalLabel">Параметры фильтрации</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form th:action="@{'/home/' + ${id}}" method="post">
            <div class="modal-body">
                    <div class="mb-3">
                        <label for="filterInput2" class="form-label">Цена</label>
                        <div class="input-group mb-3" id="filterInput2">
                            <span class="input-group-text">Цена от (руб.)</span>
                            <input type="text" name="minPrice" class="form-control" id="filterInputMinPrice">
                            <span class="input-group-text">до</span>
                            <input type="text" name="maxPrice" class="form-control" id="filterInputMaxPrice">
                        </div>
                    </div>
                    <div class="mb-3" th:if="${catalog_id == 2 || sub_id == 1}">
                        <label for="filterInput3" class="form-label">Материал</label>
                        <select class="form-select" id="filterInput3" name="material">
                            <option value="">Выберите...</option>
                            <option>Хлопок</option>
                            <option>Шерсть</option>
                            <option>Полиэстер</option>
                            <option>Полиэфир</option>
                            <option>Полиамид</option>
                            <option>Натуральная кожа</option>
                            <option>Акрил</option>
                            <option>Вискоза</option>
                            <option>Нейлон</option>
                        </select>
                    </div>
                <div class="mb-3" th:if="${catalog_id == 3 || sub_id==2 || sub_id == 34}">
                    <label for="filterInput4" class="form-label">Материал</label>
                    <select class="form-select" id="filterInput4" name="material">
                        <option value="">Выберите...</option>
                        <option>Натуральная кожа</option>
                        <option>Хлопок</option>
                        <option>Текстиль</option>
                        <option>Исскуственная кожа</option>
                        <option>Замша</option>
                        <option>Полимер</option>
                    </select>
                </div>
                <div class="mb-3" th:if="${sub_id == 27 || sud_id == 3}">
                    <label for="filterInput6" class="form-label">Материал</label>
                    <select class="form-select" id="filterInput6" name="material">
                        <option value="">Выберите...</option>
                        <option>Шерсть</option>
                        <option>Хлопок</option>
                        <option>Акрил</option>
                        <option>Альпака</option>
                    </select>
                </div>
                <div class="mb-3" th:if="${sub_id == 29}">
                    <label for="filterInput7" class="form-label">Материал</label>
                    <select class="form-select" id="filterInput7" name="material">
                        <option value="">Выберите...</option>
                        <option>Натуральная кожа</option>
                    </select>
                </div>
                <div class="mb-3" th:if="${sub_id == 30}">
                    <label for="filterInput8" class="form-label">Материал</label>
                    <select class="form-select" id="filterInput8" name="material">
                        <option value="">Выберите...</option>
                        <option>Металл</option>
                        <option>Ацетат</option>
                    </select>
                </div>
                <div class="mb-3" th:if="${sub_id == 31 || sub_id == 32}">
                    <label for="filterInput9" class="form-label">Материал</label>
                    <select class="form-select" id="filterInput9" name="material">
                        <option value="">Выберите...</option>
                        <option>Полиэстер</option>
                        <option>Кожа ягненка</option>
                        <option>Натуральная кожа</option>
                    </select>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
                <button type="submit"  class="btn btn-primary" >Применить фильтр</button>
            </div>
            </form>
        </div>
    </div>
</div>

<footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
    <div style="margin-left: 20px;" class="col-md-4 d-flex align-items-center" >
        <span class="mb-3 mb-md-0 text-body-secondary">© 2023 la_men, Inc</span>
    </div>
</footer>
<script th:inline="javascript">
    const cartMarker = document.getElementById('cart-marker');
    const cartItemCount = [[${cartItemCount}]];

    function updateCartMarker(count) {
        if (count > 0) {
            cartMarker.style.display = 'inline';
            cartMarker.textContent = count;
        } else {
            cartMarker.style.display = 'none';
        }
    }

    updateCartMarker(cartItemCount);
</script>
</body>
</html>